.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
address {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1314px) {
  .container {
    width: 1314px;
  }
}

.advantages {
  padding-top: 70px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1314px) {
  .advantages {
    padding-top: 96px;
    padding-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -10px;
  }
}

@media screen and (min-width: 1314px) {
  .advantages__list {
    margin: -10px;
  }
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    margin: 10px;
    -ms-flex-preferred-size: calc((100% - 3 * 20px) / 3);
        flex-basis: calc((100% - 3 * 20px) / 3);
  }
}

@media screen and (min-width: 1314px) {
  .advantages__item {
    margin: 10px;
    -ms-flex-preferred-size: calc((100% - 3 * 20px) / 3);
        flex-basis: calc((100% - 3 * 20px) / 3);
  }
}

.advantages__icon {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .advantages__icon {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1314px) {
  .advantages__icon {
    margin-right: -18px;
    width: 100px;
    height: 102px;
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: #111518;
}

@media screen and (max-width: 1313px) {
  .advantages__text {
    width: 142px;
  }
}

@media screen and (min-width: 1314px) {
  .advantages__text {
    width: 346px;
    font-size: 20px;
    line-height: 1.65;
  }
}
/*# sourceMappingURL=main.css.map */