// .advantages__list {
//   // display: flex;
//   // flex-direction: column;
//   // align-items: start;

//   @media screen and (min-width: 768px) {
//     display: flex;
//     flex-wrap: wrap;
//   }
//   @media screen and (min-width: 1314px) {
//     display: flex;
//     //   flex-wrap: nowrap;
//   }
// }

// .advantages__item {
//   display: flex;
//   align-items: center;

//   // font-weight: 700;
//   // font-size: 14px;
//   // line-height: 1.43;
//   // letter-spacing: 0.08em;

//   // color: $primary-black-color;

//   outline: 3px solid rebeccapurple;
// }

// .advantages__item {
//   &:not(:last-child) {
//     margin-bottom: 30px;

//     @media screen and (min-width: 768px) {
//       margin-bottom: 0;
//     }
//   }
// }

// .advantages__text {

//   @media screen and (max-width: 1313px) {
//     width: 146px;
//   }
// }

// // .advantages__list {
// // //   flex-direction: column;
// // //   justify-content: flex-start;

// // //   //   // @media screen and (min-width: 768px) {
// // //   //   //   margin: -10px;

// // //   //   //   // margin-left: calc(-1 * 20px);
// // //   //   //   // margin-top: calc(-1 * 20px);
// // //   //   // }
// // // }

// // // .advantages__item {
// // //   // display: flex;
// // //   // align-items: center;

// // //   font-weight: 700;
// // //   font-size: 14px;
// // //   line-height: 1.43;
// // //   letter-spacing: 0.08em;

// // //   color: $primary-black-color;

// // //   // @media screen and (max-width: 767px) {
// // //   //   margin-bottom: 30px;
// // //   // }

// // //   // // @media screen and (min-width: 768px) {
// // //   // //   width: calc ((100% - 3 * 20px) / 3);
// // //   // //   margin: 10px;
// // //   // // }
// // // }

// // // // .advantages__box {
// // // //   display: flex;
// // // //   align-items: center;
// // // // }

// .advantages__icon {
//   // width: 100%;
//   margin-right: 10px;

//   @media screen and (min-width: 1314px) {
//     width: 100px;
//     height: 102px;
//     margin-right: -18px;
//   }
// }

// // .advantages__list {
// //   flex-direction: column;
// //   justify-content: flex-start;
// // }

// // .advantages__box {
// //   display: flex;
// //   align-items: center;

// //   font-weight: 700;
// //   font-size: 14px;
// //   line-height: 1.43;
// //   letter-spacing: 0.08em;

// //   color: $primary-black-color;
// // }

.advantages {
  padding-top: 70px;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media screen and (min-width: 1314px) {
    padding-top: 96px;
    padding-bottom: 130px;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
  }

  @media screen and (min-width: 1314px) {
    margin: -10px;
  }
}

.advantages__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 10px;
    flex-basis: calc((100% - 3 * 20px) / 3);
  }

  @media screen and (min-width: 1314px) {
    margin: 10px;
    flex-basis: calc((100% - 3 * 20px) / 3);
  }
}

.advantages__icon {
  margin-right: 10px;
  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }

  @media screen and (min-width: 1314px) {
    margin-right: -18px;
    width: 100px;
    height: 102px;
  }
}

.advantages__text {
  // width: 146px;
  // display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;

  color: $primary-black-color;

  @media screen and (max-width: 1313px) {
    width: 142px;
  }

  @media screen and (min-width: 1314px) {
    width: 346px;

    font-size: 20px;
    line-height: 1.65;
  }
}
